/* fonts */

@font-face {
    font-family: 'cactus';
    src: url('cactus_bold-webfont.woff2') format('woff2'),
        url('cactus_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'carne';
    src: url('carnevalee-webfont.woff2') format('woff2'),
        url('carnevalee-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.custom-font {
    font-size: 200%;
    letter-spacing: 2px;
}

.custom-font {
    font-size: 150%;
    letter-spacing: 1.5px;
}

.banner-font {
    font-size: 120%;
}

.logo-text {
    font-family: 'carne', 'cactus', sans-serif;
}

.main-logo {
    height: 140px;
}

/* main body style */

body {
    background-color: rgb(55, 55, 55);
    font-family: 'cactus', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

/* header section */

header {
    position: fixed;
    padding: 0px;
    margin: 0px;
    top: 0px;
    left: 0px;
}

.header-container {
    height: 140px;
}

.header-container-small {
    height: 200px;
    width: 100%;
}

#topnav {
    height: 140px;
    width: 100%;
}

div#quick-banner {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

a.nav-link {
    padding: 0rem .75rem;
}

a.nav-link:hover {
    text-transform: uppercase;
}

.right-pad {
    padding-right: 0.75rem;
}

/* main container */

main {
    top: 120px;
}

/* footer section */

footer {
    height: 80px;
    width: 100%;
    bottom: 0px;
    left: 0px;
}

/* background colors */

.bg-silver {
    background-color: silver;
}

.bg-orange {
    background: #e58100;
}

/* text positions */

.right {
    text-align: right;
}

/* specific border styles */

.border-left {
    border-left: 4px solid #000;
}

/* Misc bits */

.call-btn {
    position: absolute;
    height: 40px;
    width: auto;
    top: 0px;
    right: 3px;
    background-color: #e58100;
    font-size: 150%;
    border-top: 0px;
    border-color: #000;
    border-radius: 0% 0% 8% 8%;
    text-decoration: none;
}

.call-btn:hover {
    background-color: #e58100;
    text-transform: uppercase;
}

.call-link {
    cursor: pointer;
    text-decoration: none;
}