/* fonts */

@font-face {
    font-family: 'cactus';
    src: url('cactus_bold-webfont.woff2') format('woff2'),
        url('cactus_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'carne';
    src: url('carnevalee-webfont.woff2') format('woff2'),
        url('carnevalee-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.custom-font {
    font-size: 200%;
    letter-spacing: 2px;
}

.logo-text {
    font-family: 'carne', 'cactus', sans-serif;
}

.main-logo {
    height: 140px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/* main body style */

body {
    background-color: rgb(55, 55, 55);
    font-family: 'cactus', Arial, sans-serif;
    width: 100vw;
}

/* header section */

header {
    position: fixed;
    top: 0px;
    left: 0px;
}

.header-container {
    height: 140px;
}

.header-container-small {
    height: 200px;
}

#topnav {
    height: 140px;
}

div#quick-banner {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

a.nav-link {
    margin-left: 2rem;
}

/* main container */

/* main {
    top: 120px;
} */

footer {
    height: 80px;
    width: 100vw;
    bottom: 0px;
    left: 0px;
}

/* background colors */

.bg-silver {
    background-color: silver;
}

.bg-orange {
    background: #e58100;
}

/* text positions */

.right {
    text-align: right;
}

/* specific border styles */

.border-left {
    border-left: 4px solid #000;
}