/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@font-face {
    font-family: 'cactus';
    src: url('cactus_bold-webfont.woff2') format('woff2'),
        url('cactus_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.custom-font {
    font-size: 150%;
    letter-spacing: 2px;
}

.custom-font-small {
    font-size: 120%;
    letter-spacing: 1.2px;
}

.custom-font-email {
    font-size: 120%;
    letter-spacing: 1.5px;
}

.banner-font {
    font-size: 150%;
}

h1 {
    font-size: 250%;
}

.text-justify {
    text-align: justify;
}

/* images */

.img-border {
    border: 2px solid #000;
}

.main-logo {
    height: 140px;
}

.content-image {
    max-height: 260px;
    max-width: 460px;
}

.service-image {
    max-height: auto;
    max-width: 80%;
}

.main-image {
    width: 100vw;
}

.image-banner {
    width: 100%;
    max-height: 500px;
}

.card-image {
    max-height: 150px;
}

/* main body style */

body {
    background-color: rgb(55, 55, 55);
    font-family: 'Oswald', sans-serif;
    padding: 0px;
    margin: 0px;
}

/* header section */

header {
    position: fixed;
    padding: 0px;
    margin: 0px;
    top: 0px;
    left: 0px;
}

.header-container {
    height: 160px;
}

.main-container {
    width: 100vw;
    padding: 0px;
    margin: 0px;
}

.header-container-small {
    height: 150px;
    width: 100%;
}

#topnav {
    height: 140px;
    width: 100%;
}

#quick-banner {
    width: 100%;
    padding: 0;
    margin: 0;
}

.big-banner {
    font-size: 130%;
}

a.big-banner {
    text-decoration: none;
}

.banner-pad-l {
    padding-left: 10px;
}

.banner-pad-r {
    padding-right: 10px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

u {
    text-underline-position: under;
}

a.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 0rem .75rem;
}

a.nav-link:hover {
    text-decoration: underline;
    text-underline-position: under;
}

.right-pad {
    padding-right: 0.75rem;
}

/* main container */

main {
    letter-spacing: 1px;
}

.grey-font {
    color: silver;
}

/* footer section */

footer {
    color: white;
    height: 85px;
    width: 100%;
}

.footer-header {
    letter-spacing: 2px;
    font-size: 120%;
}

.footer-text {
    letter-spacing: 1.5px;
}

/* background colors */

.bg-silver {
    background-color: silver;
}

.bg-orange {
    background: #e58100;
}

/* text positions */

.text-right {
    text-align: right;
}

/* specific border styles */

.border-left {
    border-left: 4px solid #000;
}

.bold-hr {
    padding-bottom: 4px;
    background-color: #000;
}

/* Misc bits */

.plain-link {
    color: white;
    text-decoration: none;
}

.plain-link h3 {
    color: #000;
}

.plain-link:hover {
    color: #000;
    text-decoration: underline;
    text-underline-position: under;
}

.icon-space {
    padding-right: 2rem;
}

.mobile-space {
    padding-left: 2rem;
}

/* media queries */

@media (max-width: 991px) {
    .custom-font {
        font-size: 100%;
    }
    
    .header-container {
        height: 100px;
        padding-top: 20px;
    }

    header {
        position: static;
    }
}

@media (max-width: 767px) {
    .main-logo {
        height: 100px;
    }

    

    header {
        position: static;
    }
}

@media (max-width: 460px) {
    .call-btn {
        width: 100px;
    }
}

@media (max-width: 450px) {
    .custom-font-small {
        font-size: 100%;
    }
}