<div class="col-12 d-md-none bg-silver">
    <div class="row">
        <div class="col text-center">
            <a href="{{ url_for('index') }}">
                <img src="static/images/phils-pickup-logo.png" alt="Phil's Pickup Logo" class="main-logo">
            </a>
        </div>
    </div>
    <div class="row my-2 text-center right-pad">
        <div class="col">
            <nav>
                <ul class="custom-font-small">
                    <li class="list-inline-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="nav-link text-muted" href="">Services</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="nav-link" href="{{ url_for('contact_us') }}">Contact Us</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>