<div class="col-12 d-md-none">
    <div class="row bg-orange border text-white border-dark pt-2">
        <div class="col-10 offset-1 text-center mb-2">
            <span class="footer-header">Phil's Pickup Motorcycle Transport Service</span>
            <br>
            <span class="footer-text">Recovery | Delivery | Collection</span>
            <br>
            <span class="footer-text">
                <i class="fas fa-phone-alt fa-xs"></i> call: +447802181630</span>
            <br>
            <span class="footer-text">
                <i class="fas fa-paper-plane fa-xs"></i> email: philspickup.rdc@gmail.com</span>
            <br>
            <span class="footer-text">location: Surrey</span>
            <br>
            <a
                href="https://www.facebook.com/philspickup.rdc"
                class="footer-text text-white plain-link"
                target="_blank">
                <i class="fab fa-facebook-square"></i> check me out on facebook</a>
            <hr class="bold-hr">
            <span class="footer-header">Site Created by Luke Munsch</span>
            <br>
            <span>
                <a
                    class="icon-space footer-text text-white plain-link"
                    href="https://www.linkedin.com/in/luke-munsch-b4696020/"
                    target="_blank">
                    <i class="fab fa-linkedin"></i> LinkedIn</a>
                <a
                    class="icon-space footer-text text-white plain-link"
                    href="https://github.com/lukemunsch"
                    target="_blank">
                    <i class="fab fa-github-square"></i> Github</a>
            </span>
            <br>
            <span class="copyright footer-text">
                Copyright &copy; Phil's Pickup <span id="copyright-2"></span>
            </span>
            <br>
            <span class="footer-text">
                Sitemap
            </span>
        </div>
    </div>
    <div class="col-md-6 border-left">
    </div>
</div>