<div class="col-12 d-md-none">
    <div class="row bg-orange border text-white border-dark py-2">
        <div class="col-10 offset-1 text-center mb-2">
            <span class="footer-header">Phil's Pickup Motorcycle Transport Service</span>
            <br>
            <span class="footer-text">Recovery | Delivery | Collection</span>
            <br>
            <span class="footer-text"><i class="fas fa-phone-alt fa-xs"></i> call: +447802181630</span>
            <br>
            <span class="footer-text"><i class="fas fa-paper-plane fa-xs"></i> email: philspickup.rdc@gmail.com</span>
            <br>
            <span class="footer-text">location: Surrey</span>

            <hr class="bold-hr">
            
            <span class="footer-header">Site Created by Luke Munsch</span>
            <br>
            <span class="mobile-space">
                <a class="icon-space" href="#"><i class="fab fa-facebook-square"></i></a>
                <a class="icon-space" href="#"><i class="fab fa-linkedin"></i></a>
                <a class="icon-space" href="#"><i class="fab fa-github-square"></i></a>
            </span>
            <br>
            <span class="copyright footer-text">
                Copyright &copy; Phil's Pickup <span id="copyright"></span>
            </span>
            <br>
            <span class="footer-text">
                Sitemap
            </span>
            
        </div>
    </div>
</div>
<div class="col-md-6 border-left">

</div>