<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Phil's Pickup - Motorbike Transport</title>
    <meta
      name="description"
      content="Motorbike, trike and quad transport across the UK"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    
  </head>
  <body>
    <div class="container">
    <nav>
      <ul>
        <li>
          <a href="{{ url_for('index') }}">Home</a> |
          <a href="{{ url_for('services') }}">Services</a> |
          <a href="{{ url_for('contact_us') }}">Contact Us</a>
        </li>
      </ul>
    </nav>

    {% block content %}

    {% endblock %}
    </div>
  </body>
</html>