<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Luke Munsch" />
    <meta
      name="description"
      content="Motorbike, Trike and Quad Transport Across the UK"
    />
    <meta
      name="keywords"
      content="phils pickup motorbike motorcycle transport recovery delivery collection surrey-based track days emergency"
    />
    {% endblock %} {% block extra_meta %}{% endblock %} {% block core_css %}

    <!--favicon-->
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />

    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    {% endblock %} {% block extra_css %}{% endblock %} {% block core_js %}
    <script
      src="https://kit.fontawesome.com/5889d2f18a.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
      integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
      crossorigin="anonymous"
    ></script>
    {% endblock %} {% block extra_js %}{% endblock %}
    <title>Phil's Pickup - Motorcycle Transport</title>
  </head>

  <body>
    <!--header section-->
    <header class="container-fluid fixed-top">
      <div class="row d-flex">
        <!--call now button-->
        <button class="btn call-btn shadow-sm">
          <a
            class="call-link d-flex"
            href="tel:+447802181630"
            onclick="return confirm('Head to phone app???')"
            >Call!</a
          >
        </button>
        <!--page navigation-->
        <div id="topnav" class="d-none d-md-block col-md-12">
          <div class="row bg-silver">
            <div class="col-md-4">
              <a href="{{ url_for('index') }}">
                <img
                  src="static/images/phils-pickup-logo.png"
                  alt="Phil's Pickup Logo"
                  class="main-logo"
                />
              </a>
            </div>

            <div class="col-md-8 text-right my-auto">
              <nav>
                <ul class="custom-font">
                  <li class="list-inline-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                  </li>
                  <li class="list-inline-item">
                    <a class="nav-link disabled" href="{{ url_for('services') }}">Services</a>
                  </li>
                  <li class="list-inline-item">
                    <a class="nav-link" href="{{ url_for('contact_us') }}"
                      >Contact Us</a
                    >
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        {% include 'includes/mobile-header.html' %}
        <!--quick info banner-->
        <div id="quick-banner" class="row bg-orange border border-dark">
          <div class="col-12 col-md-6 text-center my-auto">
            <p class="my-1 big-banner">
              <span class="banner-pad-r">
                <i class="fas fa-phone-alt fa-xs"></i>
                <strong>Call: +447802181630</strong>
              </span>
            </p>
          </div>
          <br class="d-md-none" />
          <div class="col-12 col-md-6 text-center my-auto">
            <p class="my-1 big-banner">
              <span class="banner-pad-l">
                <i class="fas fa-paper-plane fa-xs"></i>
                <strong>Email: philspickup.rdc@gmail.com</strong>
              </span>
            </p>
          </div>
        </div>
      </div>
    </header>

    <main class="container-fluid">
      {% block page_header %}{% endblock %} {% block content %}{% endblock %}
    </main>

    <footer class="container-fluid">
      <div class="row">
        <div class="d-none d-md-block col-md-12">
          <div class="row bg-orange border border-dark py-1">
            <div class="col-md-6">
              <div class="row mt-3">
                <div class="col-10 offset-1">
                  <span class="footer-header">Site Created by Luke Munsch</span>
                  <br />
                  <span>
                    <a
                      class="icon-space footer-text plain-link text-white"
                      href="https://www.linkedin.com/in/luke-munsch-b4696020/"
                      target="_blank"
                      ><i class="fab fa-linkedin"></i> LinkedIn</a
                    >
                    <a
                      class="icon-space footer-text plain-link text-white"
                      href="https://github.com/lukemunsch"
                      target="_blank"
                      ><i class="fab fa-github-square"></i> Github</a
                    >
                  </span>
                  <br />
                  <span class="copyright footer-text">
                    Copyright &copy; Phil's Pickup <span id="copyright"></span>
                  </span>
                  <span class="footer-text"> || sitemap </span>
                  <br />
                </div>
              </div>
            </div>
            <div class="col-md-6 border-left">
              <div class="row mt-3">
                <div class="col-10 offset-1 mb-2">
                  <span class="footer-header"
                    >Phil's Pickup Motorcycle Transport Service</span
                  >
                  <br />
                  <span class="footer-text d-none d-lg-inline-block"
                    >Recovery | Delivery | Collection</span
                  >
                  <br class="d-none d-lg-block" />
                  <p class="footer-text">
                    Location: Surrey ||
                    <a
                      href="https://www.facebook.com/philspickup.rdc"
                      class="footer-text plain-link text-white"
                      target="_blank"
                      ><i class="fab fa-facebook-square"></i>
                      Check This Out!
                    </a>
                  </p>
                  <br />
                </div>
              </div>
            </div>
          </div>
        </div>
        {% include 'includes/mobile-footer.html' %}
      </div>
    </footer>
    {% block postloadjs %}
    <script>
      $("#copyright").text(new Date().getFullYear());
    </script>
    <script>
      $("#copyright-2").text(new Date().getFullYear());
    </script>
    {% endblock postloadjs %}
  </body>
</html>
