<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>Phil's Pickup - Motorbike Transport</title>
    <meta
      name="description"
      content="Motorbike, trike and quad transport across the UK"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="index.html">Home</a> |
          <a href="services.html">Services</a> |
          <a href="contact_us.html">Contact Us</a>
        </li>
      </ul>
    </nav>

    {% block content %}

    {% endblock %}

  </body>
</html>