{% extends 'base.html' %} {% block page_header %}
<div class="container-fluid mb-4">
  <div class="row">
    <div class="d-none d-md-block header-container col-md-12"></div>
    <div class="header-container-small col-12 d-md-none"></div>
  </div>
  <hr class="hiding" />
</div>
<br class="d-md-none">
{% endblock %} {% block content %}
<div class="row text-center pt-3 px-0">
  <div class="col-12 px-0">
    <h1 class="big-banner text-uppercase mx-0 px-0">
      Motorcycle Transport Service
    </h1>
    <h2 class="mx-2">
      For the recovery, delivery or collection of motorbikes, trikes and quads
    </h2>
    <img
      src="static/images/personal-trailer.png"
      alt="Phil in his pickup truck"
      class="main-image my-3 px-0 img-border"
    />
    <p>
      This is a small private company that deals with individual clients and businesses for the transport needs of their vehicles. Whether you are looking for a quick trip, long haul or dealing with customers of your own; We have got you sorted!
    </p>
  </div>
</div>
<hr />

<!--Section for quick services and images-->
<div class="row">
  <div class="col-12 col-md-6">
    <div class="row pt-3">
      <div class="col-10 offset-1">
        <h3 class="text-center">Collection and Delivery Service</h3>
        <img
          src="static/images/os-hooking-trike.png"
          alt="Main content image"
          class="content-image my-3 img-border mx-5 rounded-3"
        />
        <h3 class="text-center">Emergency Pickup Requests</h3>
      </div>
    </div>
  </div>
  <hr class="text-center mt-4 d-md-none w-75 mx-auto">

  <div class="col-12 col-md-6">
    <div class="row pt-3">
      <div class="col-10 offset-1">
        <h3 class="text-center">Surrey Based Company</h3>
        <img
          src="static/images/wide-loading-bikes.png"
          alt="Main content image"
          class="content-image my-3 img-border mx-5 rounded-3"
        />
        <h3 class="text-center">Track Day Transport</h3>
      </div>
    </div>
  </div>
</div>
<br>

<!--section for additional supporting images-->
<div class="row img-border">
  <div class="col-12 col-md-4 g-0">
    <img
      src="static/images/close-loaded-bikes.png"
      alt="Bikes loaded in a trailer image"
      class="image-banner"
    />
  </div>
  <div class="d-none d-md-block col-md-4 g-0">
    <img
      src="static/images/wide-trailer-towe.png"
      alt="Truck towing a trailer"
      class="image-banner">
  </div>
  <div class="d-none d-md-block col-md-4 g-0">
    <img
      src="static/images/os-strap-trike.png"
      alt="Attaching straps to trike"
      class="image-banner">
  </div>
</div>

<!--Reviews section-->
<div class="row border border-dark mb-2 bg-white text-black text-center">
  <div class="col">
    <div class="row py-3"  id="reviews">
      <div class="col-6 col-md-3">
        <p>
          "My Daughter had a motorbike accident at 5.00pm on a Sunday evening. I
          contacted Phils Pick up and was informed that he would contact me when
          he returned from Silverstone. Phil did just that and recovered my
          Daughters Motorbike at 7.00pm on a Sunday evening. That's what you
          call service. Very impressed with the prompt and professional service
          and would not hesitate to recommend Phil's Pickup Motorcycle Transport
          to anyone."
        </p>
        <p><em>-Joe Bloggs - Facebook</em></p>
      </div>
      <div class="col-6 col-md-3 offset-md-1">
        <p>
          "Highly recommend Phil's Pickup Motorcycle Transport! couldn't be
          happier with the transport of my bike! Dropped off with less than
          24hrs notice, great communication, 10/10 service, bike was strapped
          really secure and he's a lovely guy. Couldn't be happier!"
        </p>
        <p><em>-Joe Bloggs - Facebook</em></p>
      </div>
      <div class="d-none d-md-block col-md-3 offset-md-1">
        <p>
          "So broke down last night and called Phil to pick me up as RAC quoted
          arm and a leg to take me home Very happy with the quoted price from
          Phil, fast to reply and to pick up my bike Secured the bike in the
          trailer beyond expectation and covered the tank to protect. Goes above
          and beyond to protect your bike. Will use again and can't recommend
          highly enough, 5*"
        </p>
        <p><em>-Joe Bloggs - Facebook</em></p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid footer-lift">
  <div class="row">
    <div class="d-none d-md-block col-md-12"></div>
  </div>
</div>
{% endblock %}
