{% extends 'base.html' %} {% block page_header %}

<div class="row mb-4">
  <div class="d-none d-lg-block header-container col-md-12"></div>

</div>


<br class="d-md-none" />
{% endblock %} {% block content %}

<!--header and subheader section-->
<div class="row text-center pt-3 p-0 grey-font">
  <div class="col-12 p-0">
    <h1 class="text-uppercase mx-0 px-0">
      Motorcycle Transport Service
    </h1>
    <h3 class="mx-2">
      For the recovery, delivery or collection of motorbikes, trikes and quads
    </h3>
    <span>
      <img src="static/images/personal-trailer.png" alt="Phil in his pickup truck"
        class="main-image my-3 px-0 img-border" />
    </span>
  </div>
</div>
<div class="row text-center pt-3 p-0 grey-font">
  <div class="col-10 offset-1 col-md-8 offset-md-2">
    <h4 class="pb-4 text-justify">
      This is a small private company that deals with businesses and individual clients for the transport needs of their vehicles. Whether you are
      looking for a quick trip, long haul or dealing with customers of your own, we can provide a service that suits all
      your needs
    </h4>
    <h4>All bikes, whilst being transported or handled, are FULLY INSURED!</h4>
  </div>
</div>

<hr class="text-center mt-4 w-75 mx-auto grey-font" />

<!--Section for about the Owner-->
<div class="row grey-font">
  <div class="col-10 offset-1 col-md-8 offset-md-2">
    <h3>About the Owner</h3>
    <p class="banner-font text-justify"><em>"Having been a biker since the age of 16, my passion for 2-wheeled transport means that I appreciate the need for
      every care to be taken when moving someone else's pride and joy.</em></p>
    <p class="banner-font"><em>Every bike I move, I treat as if it were my own!"</em></p>
  </div>
</div>

<hr class="text-center mt-4 w-75 mx-auto grey-font" />

<!--Section for quick services and images-->
<div class="row text-center pt-3 px-0 grey-font mb-5">
  <div class="col-12 col-md-6">
    <div class="row pt-3">
      <div class="col-12">
        <h2 class="text-center"><u>Collection / Delivery Service</u></h2>
        <img src="static/images/os-hooking-trike.png" alt="Attaching straps to trike image"
          class="content-image my-3 img-border rounded-3" />
        <h2 class="text-center"><u>Emergency Pickup Requests</u></h2>
      </div>
    </div>
  </div>
  <hr class="text-center mt-4 d-md-none w-75 mx-auto" />

  <div class="col-12 col-md-6">
    <div class="row pt-3">
      <div class="col-12">
        <h2 class="text-center"><u>Surrey Based Company</u></h2>
        <img src="static/images/wide-loading-bikes.png" alt="Bikes in the trailer image"
          class="content-image my-3 img-border rounded-3" />
        <h2 class="text-center"><u>Track Day Transport</u></h2>
      </div>
    </div>
  </div>
</div>
<br />

<!--section for additional supporting images-->
<div class="container-fluid p-0 mb-5">
  <div class="row img-border">
    <div class="col-12 col-md-4 g-0">
      <img src="static/images/close-loaded-bikes.png" alt="Bikes loaded in a trailer image" class="image-banner" />
    </div>
    <div class="d-none d-md-block col-md-4 g-0">
      <img src="static/images/wide-trailer-towe.png" alt="Truck towing a trailer image" class="image-banner" />
    </div>
    <div class="d-none d-md-block col-md-4 g-0">
      <img src="static/images/os-strap-trike.png" alt="Attaching straps to trike image" class="image-banner" />
    </div>
  </div>
</div>

<!--Reviews section-->
<div class="row border border-dark bg-white text-black text-center mb-5">
  <div class="col">
    <div class="row py-3" id="reviews">
      <div class="col-12 col-md-4 px-5">
        <p>
          <strong>
            "That's what you call service. Very impressed with the prompt and
            professional service and would not hesitate to recommend Phil's
            Pickup Motorcycle Transport to anyone."</strong>
        </p>
      </div>
      <hr class="d-md-none" />
      <div class="col-12 col-md-4 px-5">
        <p>
          <strong>
            "Highly recommend Phil's Pickup Motorcycle Transport! Couldn't be
            happier with the transport of my bike! Dropped off with less than
            24hrs notice, great communication, 10/10 service, bike was strapped
            really secure and he's a lovely guy!"
          </strong>
        </p>
      </div>
      <div class="d-none d-md-block col-md-4 px-5">
        <p>
          <strong>
            "Last night, I called Phil to pick me up as RAC quoted arm and a
            leg. Very happy with the quoted price; fast to reply and to pick up
            my bike. Secured the bike and covered the tank to protect. Goes
            above and beyond. Will use again and can't recommend him highly
            enough, 5*"
          </strong>
        </p>
      </div>
    </div>
  </div>
</div>

<!--footer section-->
<div class="row">
  <div class="d-none d-md-block col-md-12"></div>
</div>

{% endblock %}