{% extends 'base.html' %} {% block page_header %}

<div class="row mb-4">
  <div class="d-none d-lg-block header-container col-md-12"></div>
</div>

<br class="d-md-none" />
{% endblock %} {% block content %}

<!--header and subheader section-->
<div class="row text-center pt-3 p-0 grey-font">
  <div class="col-12 p-0">
    <h1 class="text-uppercase mx-0 px-0">
      MPhil's Pickup: Expert Motorcycle Transport & Recovery
    </h1>
    <h3 class="mx-2">
      Reliable motorbike collection, delivery, and emergency pickup requests for
      trikes and quads.
    </h3>
    <span>
      <img
        src="static/images/personal-trailer.png"
        alt="Phil's Pickup providing professional motorbike delivery and motorcycle transport"
        class="main-image my-3 px-0 img-border"
      />
    </span>
  </div>
</div>
<div class="row text-center pt-3 p-0 grey-font">
  <div class="col-10 offset-1 col-md-8 offset-md-2">
    <h4>Surrey-Based Motorbike Recovery, Collection and Delivery</h4>
    <h4 class="pb-4 text-justify">
      We are a specialist Surrey-based motorcycle recovery and transport
      company. Whether you need a
      <strong>Camberley motorbike delivery</strong>,
      <strong>motorcycle transport in Guildford</strong>, or
      <strong>bike recovery in Woking</strong>, we provide a professional
      service for both businesses and private enthusiasts. From a quick trip to
      a long-haul motorbike collection, we handle every vehicle with care.
    </h4>
    <h4>Every motorcycle breakdown or transport job is FULLY INSURED!</h4>
  </div>
</div>

<hr class="text-center mt-4 w-75 mx-auto grey-font" />

<!--Section for about the Owner-->
<div class="row grey-font">
  <div class="col-10 offset-1 col-md-8 offset-md-2">
    <h3>About the Owner</h3>
    <p class="banner-font text-justify">
      <em
        >"Having been a biker since 16, I understand the need for a rapid
        motorcycle pickup when you're stranded. We offer a dedicated
        <strong>surrey-based motorbike collection and delivery</strong> service
        for single or multiple vehicles.
      </em>
    </p>
    <p class="banner-font">
      <em
        >Whether it's an <strong>emergency motorbike pickup</strong> after an
        accident or <strong>track day transport</strong> for your pride and joy,
        I treat every bike as if it were my own!</em
      >
    </p>
  </div>
</div>

<hr class="text-center mt-4 w-75 mx-auto grey-font" />

<!--Section for quick services and images-->
<div class="row text-center pt-3 px-0 grey-font mb-5">
  <div class="col-12 col-md-6">
    <div class="row pt-3">
      <div class="col-12">
        <h2 class="text-center"><u>Motorbike Collection & Delivery Service</u></h2>
        <img
          src="static/images/os-hooking-trike.png"
          alt="Professional motorcycle recovery near me using secure strapping"
          class="content-image my-3 img-border rounded-3"
        />
        <h2 class="text-center"><u>Emergency Pickup Requests</u></h2>
        <p>Rapid response for accident recovery motorbike services and roadside assistance.</p>
      </div>
    </div>
  </div>
  <hr class="text-center mt-4 d-md-none w-75 mx-auto" />

  <div class="col-12 col-md-6">
    <div class="row pt-3">
      <div class="col-12">
        <h2 class="text-center"><u>Surrey-Based Company</u></h2>
        <img
          src="static/images/wide-loading-bikes.png"
          alt="Surrey-based motorbike collection of multiple motorcycles"
          class="content-image my-3 img-border rounded-3"
        />
        <h2 class="text-center"><u>Motorcycle Track Days & Transport</u></h2>
        <p>Reliable track day transport for enthusiasts heading to the circuit.</p>
      </div>
    </div>
  </div>
</div>
<br />

<!--section for additional supporting images-->
<div class="container-fluid p-0 mb-5">
  <div class="row img-border">
    <div class="col-12 col-md-4 g-0">
      <img
        src="static/images/close-loaded-bikes.png"
        alt="Bikes loaded in a trailer image"
        class="image-banner"
      />
    </div>
    <div class="d-none d-md-block col-md-4 g-0">
      <img
        src="static/images/wide-trailer-towe.png"
        alt="Truck towing a trailer image"
        class="image-banner"
      />
    </div>
    <div class="d-none d-md-block col-md-4 g-0">
      <img
        src="static/images/os-strap-trike.png"
        alt="Attaching straps to trike image"
        class="image-banner"
      />
    </div>
  </div>
</div>

<!--Reviews section-->
<div class="row border border-dark bg-white text-black text-center mb-5">
  <div class="col">
    <div class="row py-3" id="reviews">
      <div class="col-12 col-md-4 px-5">
        <p>
          <strong>
            "That's what you call service. Very impressed with the prompt and
            professional service and would not hesitate to recommend Phil's
            Pickup Motorcycle Transport to anyone."</strong
          >
        </p>
      </div>
      <hr class="d-md-none" />
      <div class="col-12 col-md-4 px-5">
        <p>
          <strong>
            "Highly recommend Phil's Pickup Motorcycle Transport! Couldn't be
            happier with the transport of my bike! Dropped off with less than
            24hrs notice, great communication, 10/10 service, bike was strapped
            really secure and he's a lovely guy!"
          </strong>
        </p>
      </div>
      <div class="d-none d-md-block col-md-4 px-5">
        <p>
          <strong>
            "Last night, I called Phil to pick me up as RAC quoted arm and a
            leg. Very happy with the quoted price; fast to reply and to pick up
            my bike. Secured the bike and covered the tank to protect. Goes
            above and beyond. Will use again and can't recommend him highly
            enough, 5*"
          </strong>
        </p>
      </div>
    </div>
  </div>
</div>

<!--footer section-->
<div class="row">
  <div class="d-none d-md-block col-md-12"></div>
</div>

{% endblock %}
