<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Phil's Pickup - Motorbike Transport</title>
        <meta name="description" content="Motorbike, trike and quad transport across the UK">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <li>
                        <a href="#">Home</a>
                        <a href="#" active>Services</a>
                        <a href="#">Contact Us</a>
                    </li>
                </li>
            </ul>
        </nav>
        <script src="" async defer></script>
    </body>
</html>