{% extends 'base.html' %} {% block page_header %}
<div class="container-fluid mb-4">
  <div class="row">
    <div class="d-none d-md-block header-container col-md-12"></div>
    <div class="header-container-small col-12 d-md-none"></div>
  </div>
  <hr class="hiding" />
</div>
<br />
{% endblock %} {% block content %}
<div class="row text-center pt-3 px-0">
  <div class="col-12 px-0">
    <h1 class="big-banner text-uppercase mx-0 px-0">Services</h1>
    <h2 class="mx-2">
      Interested in what services we are able to provide for you? We are here to
      make your life as easy as we can;
    </h2>
  </div>
</div>
<hr />

<!--image and asides section-->
<div class="row w-100">
  <div class="col-md-6 text-center">image</div>
  <div class="col-md-6">text</div>
</div>
<div class="row w-100">
  <div class="col-md-6 order-last order-md-first">text</div>
  <div class="col-md-6 text-center order-md-last">image</div>
</div>
<div class="row w-100">
  <div class="col-md-6 text-center">image</div>
  <div class="col-md-6">text</div>
</div>
<div class="row w-100">
  <div class="col-md-6 order-last order-md-first">text</div>
  <div class="col-md-6 text-center order-md-last">image</div>
</div>

{% endblock %}
